@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-light;
  src: url(../fonts/Lato/Lato-Light.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

.btn {
  padding: 14px 16px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-radius: 4px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 8px 1px rgb(58, 58, 58);
  transition: 0.2s;
}
.btn:hover {
  color: #E7816B;
  box-shadow: 0px 0px 8px 1px rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato;
  scroll-behavior: smooth;
}

header {
  padding: 16px 5%;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}
header nav div {
  width: 250px;
  height: 75px;
}
header nav div a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/Logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul > a {
  display: none;
  font-size: 35px;
  color: grey;
  border: solid 1px grey;
  padding: 8px 12px;
  border-radius: 6px;
}
header nav ul li {
  padding-left: 80px;
}
header nav ul li:nth-of-type(1) > a {
  color: rgb(0, 0, 0);
}
header nav ul li > a {
  font-size: 24px;
  color: grey;
}

#s-lorem {
  padding: 16px 5%;
}
#s-lorem article {
  background-color: #E7816B;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 2px 4px 2px grey;
  padding: 100px 100px 120px 80px;
  position: relative;
  overflow: hidden;
}
#s-lorem article div:nth-of-type(1) {
  width: 60%;
}
#s-lorem article div:nth-of-type(1) h1 {
  color: white;
  font-size: 64px;
}
#s-lorem article div:nth-of-type(1) p {
  line-height: 35px;
  width: 90%;
  font-size: 18px;
  color: white;
  padding: 40px 0px 64px;
}
#s-lorem article > div:nth-of-type(2) {
  background-image: url(../img/mockup-travel-iphone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 550px;
  height: 650px;
  right: 50px;
  position: absolute;
}

#s-services {
  padding: 100px 5%;
}
#s-services h2 {
  font-size: 64px;
  padding: 20px;
}
#s-services article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
#s-services .filter {
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
}
#s-services > div {
  display: flex;
  height: 60vh;
  gap: 10px;
}
#s-services > div > div:nth-of-type(1) {
  width: 50%;
  height: 100%;
  background-image: url(../img/homme-assis-batiment.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px grey;
}
#s-services > div > div:nth-of-type(1) h3 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: lighter;
}
#s-services > div > div:nth-of-type(1) a {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  transition: 0.2s;
}
#s-services > div > div:nth-of-type(1) a span {
  font-weight: bold;
  color: #E7816B;
}
#s-services > div > div:nth-of-type(1) a:hover {
  color: #E7816B;
}
#s-services > div > div:nth-of-type(2) {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(1) {
  width: 100%;
  height: 50%;
  background-image: url(../img/passport.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px grey;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(1) h3 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: lighter;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(1) a {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  transition: 0.2s;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(1) a span {
  font-weight: bold;
  color: #E7816B;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(1) a:hover {
  color: #E7816B;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(2) {
  width: 100%;
  height: 50%;
  background-image: url(../img/montgolfiere.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 2px grey;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(2) h3 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: lighter;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(2) a {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  transition: 0.2s;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(2) a span {
  font-weight: bold;
  color: #E7816B;
}
#s-services > div > div:nth-of-type(2) > article:nth-of-type(2) a:hover {
  color: #E7816B;
}

#s-features {
  padding: 100px 5%;
  height: 60vh;
  background-image: url(../img/wave.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#s-features > h2 {
  font-size: 64px;
  padding: 0px 20px 80px;
  text-align: end;
}
#s-features > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#s-features > div:nth-of-type(1) article {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#s-features > div:nth-of-type(1) div > i {
  color: #E7816B;
  font-size: 80px;
}
#s-features > div:nth-of-type(1) h4 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 16px;
}
#s-features > div:nth-of-type(1) p {
  font-family: Lato-light;
  text-align: center;
  width: 85%;
  font-size: 20px;
  padding-bottom: 100px;
}
#s-features > article:nth-of-type(1) {
  background-color: #E7816B;
  border-radius: 20px;
  display: flex;
  padding: 100px 100px 60px;
  bottom: -350px;
}
#s-features > article:nth-of-type(1) > div:nth-of-type(1) {
  width: 60%;
}
#s-features > article:nth-of-type(1) > div:nth-of-type(1) h2 {
  width: 70%;
  text-align: start;
  color: white;
  font-size: 50px;
  font-weight: lighter;
}
#s-features > article:nth-of-type(1) > div:nth-of-type(1) p {
  font-family: Lato-light;
  line-height: 35px;
  width: 85%;
  font-size: 20px;
  color: white;
  padding: 16px 0px;
}
#s-features > article:nth-of-type(1) > div:nth-of-type(2) {
  width: 40%;
  display: flex;
  justify-content: center;
  margin: auto;
}

footer {
  background-color: #1D1D1F;
  padding: 300px 5% 30px;
}
footer nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: solid 2px grey;
}
footer nav > div {
  width: 300px;
  height: 100px;
}
footer nav > div a {
  background-image: url(../img/Logo-white.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
footer nav ul {
  display: flex;
  align-items: center;
}
footer nav ul li {
  padding-left: 40px;
}
footer nav ul li > a {
  font-family: Lato-light;
  font-size: 24px;
  color: white;
  transition: 0.2s;
}
footer nav ul li > a:hover {
  color: #E7816B;
}
footer > div {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
footer > div p:not(:first-child) {
  font-family: Lato-light;
}
footer > div p {
  color: white;
  font-size: 20px;
  line-height: 30px;
}
footer > div p span {
  font-weight: bold;
}
footer > div > div > ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
footer > div > div > ul li {
  padding-left: 10px;
}
footer > div > div > ul li a {
  color: white;
  font-size: 30px;
  padding: 4px 8px;
  transition: 0.2s;
}
footer > div > div > ul li a:hover {
  color: #E7816B;
}

@media screen and (max-width: 1900px) {
  footer {
    padding: 350px 5% 30px;
  }
}
@media screen and (max-width: 1800px) {
  #s-features > div:nth-of-type(1) p {
    padding-bottom: 70px;
  }
  footer {
    padding: 450px 5% 30px;
  }
}
@media screen and (max-width: 1450px) {
  #s-lorem article {
    padding: 100px 100px;
    justify-content: space-between;
  }
  #s-lorem article > div:nth-of-type(2) {
    position: static;
    width: 350px;
  }
  #s-features {
    height: 100vh;
  }
  footer {
    padding: 100px 5% 30px;
  }
}
@media screen and (max-width: 1400px) {
  footer {
    padding: 150px 5% 30px;
  }
}
@media screen and (max-width: 1250px) {
  header nav ul li {
    padding-left: 50px;
  }
  #s-features > article:nth-of-type(1) > div:nth-of-type(1) h2 {
    width: 100%;
  }
  footer {
    padding: 300px 5% 30px;
  }
}
@media screen and (max-width: 1050px) {
  header nav ul li {
    display: none;
  }
  header nav ul > a {
    display: block;
  }
  #s-lorem article {
    padding: 80px 80px;
  }
  #s-lorem article div:nth-of-type(1) h1 {
    font-size: 48px;
  }
  #s-lorem article > div:nth-of-type(2) {
    width: 100%;
  }
  #s-services > div {
    height: 70vh;
  }
}
@media screen and (max-width: 965px) {
  #s-features {
    height: 110vh;
  }
  #s-features .btn {
    font-size: 20px;
  }
  footer nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  footer > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (max-width: 800px) {
  footer {
    padding: 420px 5% 30px;
  }
}
@media screen and (max-width: 750px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #s-lorem {
    padding: 16px 2%;
  }
  #s-lorem article {
    padding: 20px 20px 40px;
  }
  #s-lorem article div:nth-of-type(1) {
    width: 100%;
  }
  #s-lorem article > div:nth-of-type(2) {
    display: none;
  }
  #s-services {
    padding: 20px 2%;
  }
  #s-services h2 {
    text-align: center;
  }
  #s-services > div {
    flex-direction: column;
    height: auto;
  }
  #s-services > div > div:nth-of-type(1) {
    width: 100%;
    flex-direction: column;
    height: 45vh;
  }
  #s-services article {
    width: 100%;
    height: 45vh;
  }
  #s-services > div > div:nth-of-type(2) {
    width: 100%;
    height: 90vh;
  }
  #s-services > div > div:nth-of-type(2) article {
    height: 45vh;
  }
  #s-features {
    padding: 20px 2%;
    height: auto;
  }
  #s-features h2 {
    text-align: center;
  }
  #s-features > div:nth-of-type(1) {
    flex-direction: column;
    gap: 0px;
  }
  #s-features > div:nth-of-type(1) article {
    width: 100%;
  }
  #s-features > article:nth-of-type(1) {
    padding: 20px 20px 40px;
    flex-direction: column;
  }
  #s-features > article:nth-of-type(1) > div:nth-of-type(1) {
    width: 100%;
  }
  #s-features > article:nth-of-type(1) > div:nth-of-type(1) h2 {
    text-align: center;
  }
  #s-features > article:nth-of-type(1) > div:nth-of-type(1) p {
    text-align: center;
    width: 100%;
  }
  #s-features > article:nth-of-type(1) > div:nth-of-type(2) {
    width: auto;
  }
  footer {
    padding: 20px 2%;
  }
  footer > nav {
    width: 100%;
  }
  footer nav ul {
    flex-direction: column;
  }
  footer nav ul li {
    padding: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
